@import '../../../styles/mixins.scss';
@import '../../../styles/vars.scss';

.scroll-container {
  width: 100%;
  height: 100%;
}

.albums-list {
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 50px;
}

.albums-row {
  @include flex-row;

  width: 100%;
}