@import '../../../styles/mixins.scss';
@import '../../../styles/vars.scss';

.albums-list {
  @include grid;

  padding: 20px;
  width: 100%;
  grid-gap: $gap-default;
  grid-template-columns: repeat($columns-default, 1fr);

  @media (min-width: $screen-size-1800) {
    grid-gap: $gap-1800;
    grid-template-columns: repeat($columns-1800, 1fr);
  }

  @media (min-width: $screen-size-2400) {
    grid-gap: $gap-2400;
    grid-template-columns: repeat($columns-2400, 1fr);
  }
}
