@import '../../../styles/mixins.scss';

:host {
  margin: 0 0 0 auto;
}

.search-artist {
  @include flex-row-center-vertical;
  padding: 5px;

  &:hover {
    background-color: var(--hover-background);
  }

  &__title {
    @include flex-row-center-vertical;

    font-size: 14px;
    color: var(--main-text-color);
  }

  &__cover {
    @include flex-row-center;

    width: 40px;
    height: 40px;

    margin: auto 10px auto 0;

    border: 1px solid var(--card-border-color);
    border-radius: 2px;

    background-color: var(--card-background);
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__placeholder {
    color: var(--card-placeholder-color);

    & > svg {
      width: 20px;
      height: 20px;
    }
  }
}
