@import '../../../styles/mixins.scss';

.album-card {
  @include flex-column;

  width: 282px;
  padding: 6px;

  border: 1px solid var(--card-border-color);
  border-radius: 4px;

  background-color: var(--card-background);

  &__cover {
    @include flex-row-center;

    width: 270px;
    height: 270px;

    border: 1px solid var(--card-border-color);
    border-radius: 2px;

    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__placeholder {
    color: var(--card-placeholder-color);

    & > svg {
      width: 220px;
      height: 220px;
    }
  }

  &__bottom {
    @include flex-column;
    margin-top: 10px;
  }

  &__title {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-text-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__artists {
    margin-top: 5px;
  }

  &__artist {
    font-size: 12px;
    text-decoration: none;
    color: var(--secondary-text-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__separator {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: -2px 6px 0;
    vertical-align: middle;
    background-color: var(--main-text-color);
    border-radius: 50%;
  }

  &__separator:last-of-type {
    display: none;
  }
}
