@import '../../../styles/mixins.scss';
@import '../../../styles/vars.scss';

.album-card {
  @include flex-column;

  width: $card-size-default;
  padding: 6px;

  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  background-color: var(--card-background);

  &__cover {
    @include flex-row-center;

    width: $cover-size-default;
    height: $cover-size-default;
    border: 1px solid var(--card-border-color);
    border-radius: 2px;

    overflow: hidden;
  }

  &__image {
    width: $cover-size-default;
    height: $cover-size-default;
    object-fit: cover;
  }

  &__placeholder {
    color: var(--card-placeholder-color);

    & > svg {
      width: $svg-size-default;
      height: $svg-size-default;
    }
  }

  &__bottom {
    @include flex-column;
    margin-top: 10px;
  }

  &__title {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-text-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__artists {
    margin-top: 5px;
  }

  &__artist {
    font-size: 12px;
    text-decoration: none;
    color: var(--secondary-text-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__separator {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: -2px 6px 0;
    vertical-align: middle;
    background-color: var(--main-text-color);
    border-radius: 50%;
  }

  &__separator:last-of-type {
    display: none;
  }

  @media (min-width: $screen-size-1800) {
    width: $card-size-1800;

    &__cover {
      width: $cover-size-1800;
      height: $cover-size-1800;
    }

    &_image {
      width: $cover-size-1800;
      height: $cover-size-1800;
    }

    &__placeholder {
      & > svg {
        width: $svg-size-1800;
        height: $svg-size-1800;
      }
    }
  }

  @media (min-width: $screen-size-2400) {
    width: $card-size-2400;

    &__cover {
      width: $cover-size-2400;
      height: $cover-size-2400;
    }

    &_image {
      width: $cover-size-2400;
      height: $cover-size-2400;
    }

    &__placeholder {
      & > svg {
        width: $svg-size-2400;
        height: $svg-size-2400;
      }
    }
  }
}
