@import '../../../styles/mixins.scss';
@import '../../../styles/vars.scss';

:host {
  @include flex-column;

  margin: 0 auto 10px auto;
}

.album-card {
  @include flex-column;

  position: relative;
  width: 250px;
  margin: 0 auto;

  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  background-color: var(--card-background);

  &__top {
    width: 250px;
    height: 250px;
    padding: 5px;
  }

  &__bottom {
    @include flex-column;

    padding: 5px;
  }

  &__cover {
    @include flex-row-center;

    width: 100%;
    height: 100%;

    border: 1px solid var(--card-border-color);
    border-radius: 2px;

    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__placeholder {
    @include flex-row-center;
    height: 100%;
    width: 100%;

    color: var(--card-placeholder-color);

    & > svg {
      width: 60%;
      height: 60%;
      margin: auto;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-text-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__artists {
    margin-top: 2px;
  }

  &__artist {
    font-size: 12px;
    text-decoration: none;
    color: var(--secondary-text-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__separator {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: -2px 6px 0;
    vertical-align: middle;
    background-color: var(--main-text-color);
    border-radius: 50%;
  }

  &__separator:last-of-type {
    display: none;
  }
}
