@keyframes scale {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

:root {
  --play-button-animation: 1.2s infinite ease-in-out scale;
}
