:root {
  --background: rgb(255, 255, 255);
  --main-text-color: rgb(34, 34, 34);
  --secondary-text-color: rgb(119, 119, 119);
  --card-placeholder-color: rgb(59, 59, 59);
  --card-border-color: rgb(245,245,245);
  --card-background: rgb(242,242,242);
}
