$screen-size-1800: 1800px;
$screen-size-2400: 2400px;

$columns-default: 6;
$columns-1800: 7;
$columns-2400: 10;

$gap-default: 15px;
$gap-1800: 10px;
$gap-2400: 10px;

$card-size-default: 262px;
$cover-size-default: 250px;
$svg-size-default: 220px;

$card-size-1800: 242px;
$cover-size-1800: 230px;
$svg-size-1800: 200px;

$card-size-2400: 212px;
$cover-size-2400: 200px;
$svg-size-2400: 140px;
